  <div class="featured-slider">
					  <br/>
                      <br/>
						<div class="block-content" align="left" >
                                    <h3>Terima kasih telah berbelanja di website kami. Lakukan pembayaran sebelum melebihi batas waktu yang ditentuka (maksimal 48 jam)</h3>                                    
                                    <h3>Untuk Info lebih lanjut, silahkan cek email anda.</h3>
									</div>
                      <div class="btn_form">
                        <form [routerLink]="['/home']" method="get">
                          <input type="submit" value="Selesai" title="">
                        </form>
                      </div>

                    </div>