<!--
<h1>work dude</h1>

<h2>{{myName}}</h2>
<h2>{{myAddress}}</h2>
<h2>{{myProv}}</h2>
<h2>{{myKota}}</h2>
<h2>{{myPos}}</h2>
<h2>{{myhp}}</h2>



<div class="span3">
	<div class="gallery">
		<form action="">
			
			<input type="radio" [(ngModel)]="model.rek"  name="rek" value="MANDIRI - ">Mandiri<br>
			<input type="radio" [(ngModel)]="model.rek"  name="rek" value="BCA - ">BCA
		</form>
	</div>
</div>

<div class="row-fluid" >

<div class="span4">
	<div class="gallery">
		<img src="img/img1.jpg" class="b-radius-top">
			<div class="slider-content b-radius-bottom">
				<input type="radio" [(ngModel)]="model.rek"  name="rek" value="BNI - 8912937912 ">BNI<br>
			</div>
        
    </div>
</div>

<div class="span4">
	<div class="gallery">
		<img src="img/img1.jpg" class="b-radius-top">
			<div class="slider-content b-radius-bottom">
				<input type="radio" [(ngModel)]="model.rek"  name="rek" value="MANDIRI - 729384190821987">Mandiri<br>
			</div>
        
    </div>
</div>

<div class="span4">
	<div class="gallery">
		<img src="img/img1.jpg" class="b-radius-top">
			<div class="slider-content b-radius-bottom">
				<input type="radio" [(ngModel)]="model.rek"  name="rek" value="BCA - 1239871276">BCA
			</div>
        
    </div>
</div>

</div>

<h2>{{model.rek}}</h2>

<div class="featured-slider>
	<div class="btn_form">
		<a [routerLink]="['/pembayaran']"> <button class="btn btn-success" (click)="">Lanjutkan pemesanan</button></a>
    </div>
</div>
-->